---
---
// accent
$link-color: #9e2000;

// make primary buttons use the accent
$primary-color: $link-color;

// optional tweaks
$link-color-hover: mix(#000, $link-color, 15%);
$link-color-visited: mix(#fff, $link-color, 15%);
$masthead-link-color: $link-color;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";
